*{
    color: yellow;
    text-decoration: none;
    font-family: 'Dancing Script',cursive;
}
body{
    background-image: url(images/bg.jpg);
}
#bar{
    background-color: black;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    font-family: 'Dancing Script',cursive;
}
#firstdiv h1:hover{
    color: greenyellow;
}
#firstdiv h2:hover{
    color: greenyellow;
}
#firstdiv{
    transition: 1s ease;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    color: white;
}
#barlist li{
    display: inline-block;
    margin-top: 15px;
}
#barlist li:hover{
    background-color: brown;
    color: white;
}
#barlist  li a{
    color: white;
    transition: 2s ease;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    margin: 2px;
}
#coronaimage{
    float: left;
    width: 300px;
}
#main{
    height: 100%;
    width: 100%;
}
#mantraheading{
    font-size: 30px;
    color: darkmagenta;
    text-align: center;
}
#secdiv{
    font-size: 50px;
    color: darkmagenta;
    text-align: center;    
    width: 100%;
    padding: 3px;
}
div span {
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:40px;
    height: 40px;
    border: radius 10px;
    background-color:red;
    color:#fff;
}
div{
    margin: 5px;
    padding: 2px;
    font-family: fantasy;
    font-style: italic;
}
#spreading{
    text-align: end;
    font-size: larger;
    color: white;    
}

#Thirddiv{
    text-align: center;
    font-size: large;
    width: 50%;
    margin: 10px;
    color: red;
}
.centereddiv{
  margin: auto;
  width: 50%;
  padding: 10px;
}
#video{
    width: 720px; 
    height: 480px;
}
#main{
    padding: 10px;
    margin: 20px;
    height: 800px;
}
#main  h2{
    text-align: center;
    font-size: large;
}
#maskproper{
    position: absolute;
    top: 2200px;
    right: 10px;
}    
.unorderedlist{
    font-size: large;
}
ul > h3{
    font-weight: bold;
}
#footerdiv{
    background-color: black;
    margin: 2px;
    width: 100%;
    padding: 3px;
    height: 80px;
}
.value-div{
    background: orange;
    color: black;
    width: 50%;
    position: relative;
    left: 25%;
}
.value-div p{
    color: black;
}
  