*{
    color: yellow;
}
body{
    background-color: yellow;
    background-image: url(images/bg.jpg);
}
#firstdiv{
    text-align: center;
    
    margin: 10px;
    padding: 10px;
    border-radius: 1px;
    font-size: 40px;
   
}
#barlist{
    
    
    padding: 10px;
    margin: 5px;
}
#barlist li{
    display: inline-block;
    margin-top: 15px;
}
#barlist li:hover{
    background-color: brown;
    color: white;
    
}
#barlist  li a{
    color: red;
    transition: 2s ease;
    text-decoration: none;
    font-size: 30px;
    padding: 15px;
    margin: 2px;
}
#coronaimage{
    float: left;
    width: 200px;
}
.headings{
    text-align: center;
    color: brown;
    font-size: larger;
}
#main{
    height: 100%;
    width: 100%;
    
}

#mantraheading{
    font-size: 30px;
    color: darkmagenta;
    text-align: center;
}
#secdiv{
    font-size: 50px;
    color: darkmagenta;
    text-align: center;
    
    width: 100%;
    padding: 3px;
    
}
div span {
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:40px;

    height: 40px;
    border: radius 10px;
    background-color:red;
    color:#fff;
  }
  div{
      margin: 5px;
      padding: 2px;
      font-family: fantasy;
      font-style: italic;
  }
footer{
    text-align: end;
}
secdiv  div:hover{
    color:green;
}
#spreading{
    text-align: end;
    font-size: medium;
    color: red;
    
}
#noprecautions{
    text-align: end;
    float: right;
    color: tomato;
}
#Thirddiv{
    text-align: center;
    font-size: medium;
    width: 50%;
    margin: 10px;
    color: red;
}
#main{
    
    padding: 10px;
    margin: 20px;
    height: 800px;
}
#main  h2{
    text-align: center;
    font-size: large;
}
#maskproper{
    float: right;
    
.unorderedlist{
    font-size: large;
}
ul > h3{
    font-weight: bold;
}
  